/HRSensorDevboard/HRSensorDevBoard-cache.lib
/HRSensorDevboard/HRSensorDevBoard.kicad_pcb
/HRSensorDevboard/HRSensorDevBoard.kicad_pcb-bak
/HRSensorDevboard/HRSensorDevBoard.sch
/HRSensorDevboard/sym-lib-table
/HRSensorDevBoard/Gerbers