# Breakout Board ignore
/HRBreakoutBoardDesign/HRBreakoutBoard/HRSensorDevBoard-cache.lib
/HRBreakoutBoardDesign/HRBreakoutBoard/HRSensorDevBoard.kicad_pcb
/HRBreakoutBoardDesign/HRBreakoutBoard/HRSensorDevBoard.kicad_pcb-bak
/HRBreakoutBoardDesign/HRBreakoutBoard/HRSensorDevBoard.sch
/HRBreakoutBoardDesign/HRBreakoutBoard/sym-lib-table
/HRBreakoutBoardDesign/HRBreakoutBoard/Gerbers
/HRBreakoutBoardDesign/HRBreakoutBoard/fp-info-cache