/HRBreakoutBoard/HRSensorDevBoard-cache.lib
/HRBreakoutBoard/HRSensorDevBoard.kicad_pcb
/HRBreakoutBoard/HRSensorDevBoard.kicad_pcb-bak
/HRBreakoutBoard/HRSensorDevBoard.sch
/HRBreakoutBoard/sym-lib-table
/HRBreakoutBoard/Gerbers